// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 320;
$beamtoix-height: 160;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to use BeamToIX charts plugin.";
$beamtoix-description2: "It displays the bar, line and area charts.";