.private/
node_modules/
gallery/*/*.gif
gallery/*/story.json
gallery/remote-server/assets/**
gallery/remote-server/story.json
gallery/**/story-frames/
test/tests.run/
test/log/
shared/dev-builders/output
docs/latest/
docs/ts/
release/
*.js.map
**/*.bak.*
*.bak.md
*.log
