// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 360;
$beamtoix-height: 270;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to use a `info` flyover.";
$beamtoix-description2: "In this example, 2 `info` flyovers are added at the bottom of the image.";
