@import "./../beamtoix.ini";
body,
html,
.beamtoix-story,
.beamtoix-scene {
  width: $beamtoix-width + px;
  height: $beamtoix-height + px;
}

#hello {
  position: absolute;
  color: red;
  left: 50px;
  top: 40px;
}