// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 250;
$beamtoix-height: 60;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to use move elements.";
$beamtoix-description2: "This example moves images and text by modifying the `left` and `top` properties.";