// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 900;
$beamtoix-height: 600;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-no-gif-image: "true";
$beamtoix-description: "This is a chart gallery. You can view it online.";
