// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-height: 320;
$beamtoix-width: 240;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-no-gif-image: "true";
$beamtoix-gen-movie: "true";
$beamtoix-movie-snapshot: "assets/a-bentofreire/snapshot.jpg";
$beamtoix-movie-view-page: "assets/a-bentofreire/view-video.html";
$beamtoix-description: "EXPERIMENTAL: Demonstrates how to sync a background video with an animation.";
$beamtoix-description2: "**WARNING** Due Chrome 'autoplay-policy', it's not possible to 'safely' use Chrome to sync with videos.";
$beamtoix-description3: "In order to overcome this limitation:";
$beamtoix-description4: "1. Use Firefox to test the animation with a background video.";
$beamtoix-description5: "2. Set `serverRender: false` to prevent `beamtoix render` from attempting to sync the video while server render.";
$beamtoix-description6: "3. When using `beamtoix movie`, set `--bkg-movie` parameter with the video filename to use a background video.";
