@use "./../beamtoix";
body,
html,
.beamtoix-story,
.beamtoix-scene {
  width: beamtoix.$beamtoix-width + px;
  height: beamtoix.$beamtoix-height + px;
}

#hello {
  position: absolute;
  color: red;
  left: 50px;
  top: 40px;
}