// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 3840;
$beamtoix-height: 2160;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-no-gif-image: "true";
$beamtoix-description: "Demonstrates how to render at high resolutions.";
$beamtoix-description2: "In this example, the story screen size is set to 4k.";
$beamtoix-description3: "It contains no gif due its size.";
$beamtoix-description4: "The _TOPIC_ is on the `beamtoix.ini` file.";