// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 500;
$beamtoix-height: 140;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-no-gif-image: "true";
$beamtoix-description: "This is the skeleton code designed to server render locally stored stories";
$beamtoix-description2: "or teleported stories.";