// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 200;
$beamtoix-height: 90;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-teleportable: "false";
$beamtoix-description: "Demonstrates how to use BeamToIX to animate Canvas and Virtual Scenes.";
$beamtoix-description2: "BeamToIX uses an adapter to decouple from HTMLElements, allowing to animate anything.";