// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 320;
$beamtoix-height: 202;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to use the different types of `easing` in an animation.";
