// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 126;
$beamtoix-height: 20;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "This example is the **BeamToIX** badge generator.";
