// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 200;
$beamtoix-height: 100;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "This example is the **BeamToIX** logo.";
$beamtoix-description2: "It uses pixel, value and text properties animations.";
$beamtoix-description3: "To move up and down the disks, it uses a expression";
$beamtoix-description4: "allowing to create conditional movement while supporting teleportation.";
