// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 200;
$beamtoix-height: 133;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to animate images.";
$beamtoix-description2: "In this example, both a images and background images are animated.";
