// see  https://www.devtoix.com/docs/beamtoix/en/latest/documents/Config_File.html

$beamtoix-width: 300;
$beamtoix-height: 200;
$beamtoix-file: "__PROJDIR__/index.html";
$beamtoix-description: "Demonstrates how to use the `decipher` text task.";
$beamtoix-description2: "In this example, `decipher` generates a random list of texts";
$beamtoix-description3: "that gradually reveal the hidden text.";